@import '~antd/dist/antd.css';

html, body {
  font-family: 'Martel Sans', sans-serif;
  font-size: 12px;
}

/* landing */
.landing-logo {
  margin-top: 25px;
  margin-left: 50px;
}
.raw-social {
  margin-top: 5px;
  padding: 25px;
}
.raw-icon {
  margin-left: 20px;
}
.landing-img {
  position: relative;
  height: 1100px;
  text-align: center;
  z-index: 0;
}
.landing-img img {
  height: 100%;
}
.enter {
  width: 100%;
  top: 0;
  margin-top: 300px;
  padding-right: 350px;
  position: absolute;
  z-index: 1;
  text-align: center;
}
.enter h1 {
  font-family: 'Martel Sans', sans-serif;
  color: white;
  font-style: italic;
  font-size: 48px;
  z-index: 2;
}
.enter h1:hover {
  font-style: inherit;
}
/* navigation */
.logo {
  margin-left: 25px;
  text-transform: uppercase;
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
}
.nav {
  margin-left: 10px;
}
.link {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #595959;
}
.link, .sub-link {
  margin-bottom: 10px;
}
.link:hover {
  color: black;
}
.sub-link {
  margin-left: 25px;
}
.sub-link:first-of-type {
  padding-bottom: 10px;
}
svg.MuiSvgIcon-root {
  display: none;
}
/* social icons */
.social {
  padding: 25px 25px 15px 25px;
  position: fixed;
  bottom: 0px;
}
.social-icon {
  margin-right: 15px;
  color: #595959;
  font-size: 16px;
}
.social-icon:hover {
  color: black;
}
/* corner image */
.corner-img {
  position: fixed;
  bottom: 0px;
  height: 100px;
  margin-left: 89%;
}
.corner-img1 {
  position: fixed;
  bottom: 0px;
  height: 150px;
  margin-left: 95%;
}
.corner-img2 {
  position: fixed;
  bottom: 0px;
  height: 125px;
  margin-left: 91%;
}
/* carousel */
.slider {
  height: 700px;
  width: 550px;
}
.slider img {
  height: 700px;
}
/* tiled page */
.tiles img {
  width: 400px;
}
.tile-img {
  margin-bottom: 10px;
  display: inline-block;
  position: relative;
  z-index: 0;
}
.info {
  height: 100%;
  width: 100%;
  top: 0;
  padding-top: 30px;
  padding-left: 30px;
  position: absolute;
  z-index: 1;
}
.info-link {
  color: inherit;
  font-style: italic !important;
}
.info-link:hover {
  color: black !important;
  font-style: inherit !important;
}
/* style */
.about {
  text-align: center;
  margin-left: 100px;
  margin-right: 200px;
}
.about h3 {
  margin: 50px 0 30px;
  text-transform: uppercase;
  font-family: 'Martel Sans', sans-serif;
  font-weight: bold;
  font-size: 12px;
}
/* inquiries */
.form {
  margin-top: 50px;
  margin-right: 200px;
}
.form h3 {
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Martel Sans', sans-serif;
  font-weight: bold;
  font-size: 12px;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
